@charset "utf-8";


/*---共用----------------------------------------------*/
*{margin: 0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family:Arial, Helvetica, "微軟正黑體", sans-serif !important;}
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote {margin:0;padding:0;vertical-align:top;text-align:left;font-family:Arial, Helvetica, "微軟正黑體", sans-serif !important;}

h1,h2,h3,h4,h5,h6{margin:3px 0px;padding:3px 0px;font-family:Arial, Helvetica, "微軟正黑體", sans-serif !important;}

body{ 
    font-family:Arial, Helvetica, "微軟正黑體", sans-serif !important;
	-webkit-text-size-adjust:none;
	width:100%;min-width:100%;
	height:100%;margin:0 auto;
	font-size:87.5%;
}


/*網頁大架構Div Layout------------------------*/


.iconmu{width:100%; height:auto; margin:0 auto;overflow: hidden;background-color:#f6f6f6;}
.iconmu .iconmubox{ display:block;width:1000px;height: auto; margin:0 auto;padding:1% 0px;}
.iconmu .iconmubox_mob{ display: none; width:1000px;height: auto; margin:0 auto;padding:1% 0px;}

/*statistics
.statisticsbox{ width:1000px;height:auto;overflow:hidden;padding:10px; margin:0px auto; border:2px #FFF solid; background-color:#eee;margin-bottom:15px; border-radius:6px 6px;}
.statisticsbox .slides {width:100%; height:auto;overflow:hidden; margin-bottom:35px; }
.statisticsbox .slides .imgbox {width: 48%; height:auto;max-width:530px;max-height:345px;float: left; display: block; border-right:1px solid #becd54; padding:0 2% 0% 0; }
.statisticsbox .slides .imgboximg {width:445px;height:290px; overflow:hidden;}
.statisticsbox .slides .imgbox img {width: 100%;height:auto;}
.statisticsbox .slides .fontbox {width: 50%; height:auto;float: right; display: block; padding:0px 0px 0px 0px; color:#333333;}
.statisticsbox .slides .fontbox a{color:#333333;}
.statisticsbox .slides .fontbox h3{ font-size:130%; margin-bottom:10px;}
.statisticsbox .slides .fontbox-mob{ display:none;}
.statisticsbox .slides .fontbox a{display:block;}
.statisticsbox .slides .fontbox a .mob-more{ display:block;width:65px; height: auto; padding:5px; color:#07743D; margin-top:10px; float:right;}
.statisticsbox .slides .fontbox a .mob-more:before {content: "... ";}
.statisticsbox .slides .fontbox .mob-more:focus{ background-color:#FF9; border:0px solid #ae5da1;color:#000;}
*/
/*statistics*/
.statistics { width:1000px; margin:0 auto;}
.statisticsbox{ width:100%; height:auto; overflow:hidden;/*border-bottom:4px #becd54 solid;*/ margin-bottom:10px;}
.statisticsbox .slides {width:100%; height:auto;overflow:hidden; margin-bottom:10px; padding:20px 20px 10px 20px;}
.statisticsbox .slides .imgbox {width: 100%; height:auto;max-width:100%;max-height: auto;float: none; display: block; padding-right:0%; position:relative;}
.statisticsbox .slides .imgbox h3{ font-size:120%; display:inline-block; width:100%; color:#fff; height:auto; background:rgba(0,0,0,0.65); position:absolute; bottom:0; left:0;
overflow: hidden; padding:0 10px;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp:1;
line-height:280%;
height:45px; z-index:999;
}
.statisticsbox .slides .imgboximg {width:100%;height:280px; overflow:hidden;}
.statisticsbox .slides .imgbox img {width: 100%;height:auto;}
.statisticsbox .slides .fontbox-mob {width: 100%; height:auto;float: none; display: none; padding:0px 0px 0px 0px; color:#333333;}
.statisticsbox .slides .fontbox-mob{ display: block;width: 100%; height:auto;float: none; color:#333333; }
.statisticsbox .slides .fontbox-mob a{color:#333333;}
.statisticsbox .slides .fontbox{display:none;}
.statisticsbox .slides .fontbox-mob a .mob-more{ display:block;width:65px; height: auto; padding:5px; font-size:130%; font-weight:bold; color:#007D97; margin-top:10px; float:right;}
.statisticsbox .slides .fontbox-mob .mob-more:focus{ background-color:#FF9; border:0px solid #ae5da1;color:#000;}


.bigtitle{ padding:5px 0px; width:100%; height: auto; margin:10px 0;}
.bigtitle h2{ color:#07743d; display:inline-block; width:60%; line-height:45px; font-size:160%;}
.bigtitle h2 img{ margin-right:5px;width:45px;}
.bigtitle h2 span{ color:#07743d; font-size:80%; font-weight:normal;}
.bigtitle .mob-more{ display:block; text-align:right;width:65x; height: auto; padding:5px; color:#07743D; margin-top:10px; float:right;}
.bigtitle .mob-more:before {content: "► ";}


.bigtitle .fontsize{height:auto; float:right; margin-top:5px;}
.bigtitle .fontsize a{display:inline-block; width:40px; height:auto; line-height:225%;text-align:center; color:#fff; font-size:100%; background:#7a7a7a; text-decoration:none;}
.bigtitle .fontsize a:hover{background:#444444;}
.bigtitle .fontsize .ON{ display:inline-block; background:#444444;}



/*主題專區 熱門服務 網網相連*/
.iconmu .iconmubox .box{ clear:both; display:block; width:100%; height:auto; overflow:hidden;}
.iconmu .iconmubox .box p{ width:5%; padding:0% 0px; float:left;}
.iconmu .iconmubox .box .bigtitle{ padding:0% 0px;}
.iconmu .iconmubox .box .bigtitle i{ display:block;text-align: center; width:58px; font-style:normal; font-size:120%; font-weight: bold; color:#07743d; letter-spacing:2px;}
.iconmu .iconmubox .box .bigtitle i img{text-align:left;}
.iconmu .iconmubox .box .productbox{ margin-top:10px;}

/* 熱門服務 網網相連標題-mob*/
.iconmu .iconmubox_mob h3{  display:block; text-align:left; font-size:140%; padding-bottom:0px; margin-bottom:0px; line-height:130%; color:#07743d;}
.iconmu .iconmubox_mob h3 img{ margin-right:5px;width:40px; vertical-align: middle;margin-bottom:5px; }


/* == 手機版型區 =============================== */
@media screen and (max-width:767px){

.iconmu .iconmubox{ display:none; width:94%;height: auto; margin:0 auto;padding:1% 0px;}
.iconmu .iconmubox_mob{ display: block;  width:94%;height: auto; margin:0 auto;padding:1% 0px;}

/*content*/
.content{ width:94%; height:auto; margin:0 auto;}
.content .contentbox{ padding:15px 0px;}
.content .contentbox h2{ margin:10px 0;}
.content .contentbox P{ line-height:150%; color:#666; letter-spacing:2px; font-size:105%;text-align: justify;text-justify:inter-ideograph;word-break: break-strict;}
.content .contentbox .BB{ color:#8864be; font-size:110%; line-height:200%;}


.bigtitle{ padding:5px 0px; width:100%; height: auto; margin:10px 0;}
.bigtitle h2{ display:inline-block; width:75%; line-height:40px; font-size:160%; color:#07743d;}
.bigtitle h2 img{ margin-right:5px;width:40px;}
.bigtitle h2 span{  font-size:60%; font-weight:normal;}
.bigtitle .mob-more{ display: inline-block; text-align:right;width:65px; height: auto; padding:5px; color:#07743D; margin-top:10px; float:right;}
.bigtitle .mob-more:before {content: "► ";}

.bigtitle .fontsize{ display:none;height:auto; float:right; margin-top:0px;}
.bigtitle .fontsize a{display:inline-block; width:40px; height:auto; line-height:225%;text-align:center; color:#fff; font-size:100%; background:#A7B63B; text-decoration:none;}
.bigtitle .fontsize a:hover{background:#919F29;}
.bigtitle .fontsize .ON{ display:inline-block; background:#7b881a;}
/*hot news*/
.containerbox .topbg{width:100%; height: auto;border-bottom: rgba(0,0,0,0.5) 2px solid; border-radius:0 0;}
.containerbox .topbg p{display:block; float:left; width: auto; height: auto; padding:0px 1% ;font-size:100%; line-height:120%; color:#FFFFFF; letter-spacing:2px;}
.containerbox .topbg a{width: 18.7%;height: auto;line-height:120%;padding:5px 2%; text-align:center;}
.containerbox .topbg a.on{ background:linear-gradient(to top, #006835 50%,#0a8044 100%); color:#FFF; border:1px solid rgba(5,66,35,0.5);}
.slider{ width: 100%; height: auto; overflow:hidden;padding:0px; margin:0;}


/*statistics*/
.statistics { width:100%; margin:0 auto;}
.statisticsbox{ width:100%; height:auto; overflow:hidden;/*padding:5px 15px 0px 15px;*/ margin:0px auto;  /*border-bottom:4px #becd54 solid;*/ margin-bottom:15px;}
.statisticsbox .slides {width:100%; height:auto;overflow:hidden; margin-bottom:30px;}
.statisticsbox .slides .imgbox {width: 100%; height:auto;max-width:100%;max-height: auto;float: none; display: block; border-right:0px solid #becd54; padding-right:0%;padding-bottom:1%;}
.statisticsbox .slides .imgboximg {width:100%;height:200px; overflow:hidden;}
.statisticsbox .slides .imgbox img {width: 100%;height:auto;}
.statisticsbox .slides .fontbox {width: 100%; height:auto;float: none; display: none; padding:0px 0px 0px 0px; color:#333333;}
.statisticsbox .slides .fontbox h3{ font-size:130%; margin-bottom:10px;}
.statisticsbox .slides .fontbox-mob{ display: block;width: 100%; height:auto;float: none; color:#333333;}
.statisticsbox .slides .fontbox-mob a{color:#333333;}

/*主題專區 熱門服務 網網相連*/
.iconmu .iconmubox .box{ clear:both; display:block; width:100%; height:auto; overflow:hidden; margin:0 auto;}
.iconmu .iconmubox .box p{ width:5%; padding:0% 0px; float:left; }

.iconmu .iconmubox .box .bigtitle{ padding:0% 0px; margin-top:10px;}
.iconmu .iconmubox .box .bigtitle i{ display:block;text-align:center; width:58px; font-style:normal; font-size:100%; font-weight: bold; color:#4e4e4e; letter-spacing:2px;}
.iconmu .iconmubox .box .bigtitle i img{text-align:center;width:40px;padding-top:2px;}
.iconmu .iconmubox .box .productbox{ margin-top:10px;}


/* 熱門服務 網網相連標題-mob*/
.iconmu .iconmubox_mob h3{ text-align:left; font-size:140%; padding:1%  auto; margin:1%  auto;color:#07743d;}
.iconmu .iconmubox_mob h3 img{ margin-right:5px;width:40px;}
.iconmu .iconmubox_mob{ width:94%; border-bottom:1px solid #666;}
.iconmu:nth-child(2).iconmubox_mob{border-bottom:0px solid #666;}

}
/* == 平板版型區 =============================== */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
.container .containerbox{width:94%; height:auto; margin:0 auto; overflow:hidden;}
.iconmu .iconmubox{ display:none; width:100%;height: auto; margin:0 auto;padding:1% 0px;}
.iconmu .iconmubox_mob{ display: block;  width:100%;height: auto; margin:0 auto;padding:1% 0px;}

.bigtitle{ padding:5px 0px; width:100%; height: auto; margin:10px 0;}
.bigtitle h2{  display:inline-block; width:60%; line-height:40px; font-size:160%; color:#07743d;}
.bigtitle h2 img{ margin-right:5px;width:40px;}
.bigtitle h2 span{ font-size:60%; font-weight:normal;}
.bigtitle .fontsize{height:auto; float:right; margin-top:0px;}
.bigtitle .fontsize a{display:inline-block; width:40px; height:auto; line-height:225%;text-align:center; color:#fff; font-size:100%; background:#A7B63B; text-decoration:none;}
.bigtitle .fontsize a:hover{background:#919F29;}
.bigtitle .fontsize .ON{ display:inline-block; background:#7b881a;}

.containerbox .bigtitle{margin-right:2%; }
.containerbox .bigtitle .mob-more{ display:block;width:65px; height: auto; padding:5px; color:#07743D; margin-top:10px; float:right;}
.containerbox .bigtitle .mob-more:before {content: "► ";}

/*statistics
.statisticsbox{ width:100%; height:auto; overflow:hidden;padding:5px 5px 0px 5px; margin:0px auto; border:1px #f6f6f6 solid; border-bottom:4px #becd54 solid; margin-bottom:15px; border-radius:6px 6px 0 0;}
.statisticsbox .slides {width:100%; height:auto;overflow:hidden; margin-bottom:25px;}
.statisticsbox .slides .imgbox {width: 30%; height:auto;max-width:100%;max-height: auto;float: left; display: block; border-right:1px solid #becd54; padding-right:2%;}
.statisticsbox .slides .imgboximg {width:100%;height: auto; overflow:hidden;}
.statisticsbox .slides .imgbox img {width: 100%;height:auto;}
.statisticsbox .slides .fontbox {width:68%; height:auto;float: right; display: block; padding:0px 0px 0px 0px; color:#333333;}
.statisticsbox .slides .fontbox h3{ font-size:130%; margin-bottom:10px;}
.statisticsbox .slides .fontbox p{ max-height:150px;overflow:hidden;}
.statisticsbox .slides .fontbox-mob{ display: none;}
.statisticsbox .slides .mob-more{ display:none;}
*/
/*statistics*/
.statistics{ width:100%; margin:0 auto;}
.statisticsbox{ width:100%; height:auto; overflow:hidden;/*padding:5px 15px 0px 15px;*/ /*border-bottom:4px #becd54 solid;*/ margin-bottom:15px; }
.statisticsbox .slides {width:100%; height:auto;overflow:hidden; margin-bottom:30px;}
.statisticsbox .slides .imgbox {width: 100%; height:auto;max-width:100%;max-height: auto;float: none; display: block; border-right:0px solid #becd54; padding-right:0%;padding-bottom:1%;}
.statisticsbox .slides .imgboximg {width:100%;height:200px; overflow:hidden;}
.statisticsbox .slides .imgbox img {width: 100%;height:auto;}
.statisticsbox .slides .fontbox {width: 100%; height:auto;float: none; display: none; padding:0px 0px 0px 0px; color:#333333;}
.statisticsbox .slides .fontbox h3{ font-size:130%; margin-bottom:10px;}
.statisticsbox .slides .fontbox-mob{ display: block;width: 100%; height:auto;float: none; color:#333333;}
.statisticsbox .slides .fontbox-mob a{color:#333333;}

/*主題專區 熱門服務 網網相連*/
.iconmu .iconmubox .box{ clear:both; display:block; width:100%; height:auto; overflow:hidden; margin:0 auto;}
.iconmu .iconmubox .box p{ width:5%; padding:0% 0px; float:left; }
.iconmu .iconmubox .box .bigtitle{ padding:0% 0px; margin-top:10px;}
.iconmu .iconmubox .box .bigtitle i{ display:block; width:58px; font-style:normal; font-size:100%; font-weight: bold; color:#4e4e4e; letter-spacing:2px;}
.iconmu .iconmubox .box .bigtitle i img{width:40px;padding-top:20px;}
.iconmu .iconmubox .box .productbox{ margin-top:10px;}
/*content*/
.content{ width:94%; height:auto; margin:0 auto;}
.content .contentbox{ padding:15px 0px;}
.content .contentbox h2{ margin:10px 0;}
.content .contentbox P{ line-height:150%; color:#666; letter-spacing:2px; font-size:105%;text-align: justify;text-justify:inter-ideograph;word-break: break-strict;}
.content .contentbox .BB{ color:#8864be; font-size:110%; line-height:200%;}


}

