@charset "utf-8";
@import url("../frontcss/all_shared.css");

html, body {
    height: 100%; /*外層高度100%*/
    margin: 0;
}

a{
    text-decoration: none;
}
input{
    border: 0;
}

.bg {
    margin: 0;
    padding: 0;
    background:#E8F2FC url(../frontimages/bg.png)no-repeat fixed;
    background-size: cover;
}
.wrapper {
    width: 100%;
    position: relative;
    height:calc(100vh); /*外層高度100%*/
    /* margin-bottom: -90px;  */
    /*隨footer高度需做調整*/
  }
.clear-fix{
    clear: both;
}
.bg-w{
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.bg-shadow{    
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

/*hearder----------------------------*/
.headerbox{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.headerbox .logobox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: auto;
    padding: 90px 0 0 0;
    font-size: 35px;
    font-weight: 600;
    color: #333333;
}
.headerbox .logobox img{
    width:178px;
}
.headerbox .topbox{
    background-color: #0071BC;
}
.page .topbox{
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
}
.page .headerbox{
    position: sticky;
    top: 0;
    z-index: 999;
}

.page .topbox .btnbox{
    width: 18px;
    height:18px;
    display: inline-block;    
    position: absolute;
    left: 15px;
}
.page .topbox .btnbox .btn_back{
    width: 18px;
    height:18px;
    background: url(../frontimages/icon-back.svg)no-repeat;
    background-size:auto 18px;
}
.page .topbox .title{
    margin: auto;
    font-weight: bold;
}
.page .toptitle{
    margin: auto;
    font-weight: bold;
}
/*hearder----------------------------*/


/*mainbox----------------------------*/
.mainbox {
    width: 100%;
    margin: auto;
    /* background-color: #fff; */
}
.mainbox .meunbox{
    width: 100%;
    height: 62vh;
    margin: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: url(../frontimages/login_box.png) no-repeat;
    background-size:cover;
    border-radius: 30px 30px 0 0;
}
.mainbox .meunbox .orderbtn{
    position: relative;
    display: inline-block;
    margin: -50px auto 0 auto;    
    border-radius: 25px;
}
.mainbox .meunbox .orderbtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    width: 280px;
    height: 80px;
    border-radius: 25px;
    font-size: 25px;
    color: #fff;
    background-color: #EB4040;
    border: 2px solid #A32A2A;
    z-index: 999;    
}
.mainbox .meunbox .orderbtn::after{
    display: inline-block;
    position: absolute;
    content: "";
    width: 280px;
    height: 80px;
    left: 0;
    top: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #B32E2E;     
    border-radius: 25px;
    z-index: 1;
}
.mainbox .meunbox .orderbtn a:hover{
    background-color: #B32E2E; 
    top: 5px;
}
.mainbox .meunbox .orderbtn a img{
    height: 30px;
}
.mainbox .meunbox .iconbox{
    width: 100%;
    padding: 50px 20px 10px 20px;
    text-align: center;
}
.mainbox .meunbox .iconbox ul{
    width: 325px;
    margin: auto;
    text-align: center;
    /* padding: 0 30px; */
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}
.mainbox .meunbox .iconbox ul li{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    justify-content: center;
    border-radius: 20px;    
    background-color: hsla(211, 44%, 38%, 0.397);
}
.mainbox .meunbox .iconbox ul li:hover{
    background-color: rgba(42, 75, 110, 0.5);
    border: 1px #fff solid;
}
.mainbox .meunbox .iconbox ul li img{
    width: 33px;
}
.mainbox .meunbox .iconbox ul li a{
    color: #fff;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}
.page .topbox.circle-style{
    width: 100%;
    min-height: 50px;
    position: relative;
    z-index: 3;
}
.page .topbox.circle-style .toptitle{
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
    min-height: 50px;
    text-align: center;
    border-radius: 0 0 30px 30px;
    background-color: #0071BC;
}

/*輸入日期*/
.mainbox .topbox.circle-style .inputbox{
    padding:20px 15px ;
    display: flex;
    text-align: left;
    gap: 10px;
    justify-content: flex-start;
}
.mainbox .topbox.circle-style .inputbox .box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.topbox.circle-style .inputbox .box .title{
    margin: 0;
    font-size: 16px;
}

.inputbox .box .input-style{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    
}
.inputbox .box input[type="date" i]{
    display: initial;
}
/* --------------------內容 */
.groupbox{
    width: 100%;
    margin: auto;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bottom-hight{
    padding-bottom: 95px;
}
.btnbox{
   margin: auto;
}
.btnbox .btn-style{
    width: 150px;
    color: #fff;
 }
/* 內容小標題 */
.groupbox .titlebox{
    width: 100%;
    margin: auto;
    display: flex;
    gap: 5px;
}
.groupbox .titlebox .title{
    font-size: 14px;
    color:#B3B3B3;
}
.groupbox .titlebox img{
    width: 14px;
}

/* 列表 */
.groupbox .listbox{
    display: flex;    
    flex-direction: column;
    gap: 5px;
}
.groupbox .listbox li{
   color: var(--btn-gray-deep);
   font-size: 18px;
   min-height: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.groupbox .listbox .title{
    color: #333333;
    font-weight: bold;
}
.groupbox .listbox .textbox select{
    font-size: 18px;
    padding:4px 6px;
    font-weight: bold;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    color: #333333;
}
.groupbox .listbox .textbox img{
    width: 100%;
}
/* page下方按鈕列表 */
.groupbox .list_btnbox{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.groupbox .list_btnbox li{
    width:calc(50% - 5px);
    text-align: center;
}
.groupbox .list_btnbox li a{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    color: #333333;
    font-weight: bold;
    background-color: #fff;
    display: flex;    
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.20);
}
.groupbox .list_btnbox li a:hover{
    background-color: #1F96DA;
    color: #fff;
}
.groupbox .list_btnbox li a img{
    width: 22px;
}
.groupbox .list_btnbox li a.btn_edit{
    border: 2px solid #E60020;
}
/* 有圖的按鈕 */

.groupbox .btngroup_img li:nth-child(1) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-01.svg)no-repeat;
    background-size: auto 19px ;
}
.groupbox .btngroup_img li:nth-child(2) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-02.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(3) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-03.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(4) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-04.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(5) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-05.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(6) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-06.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(7) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-07.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(8) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-08.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(9) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-09.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(10) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-10.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(11) a::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-11.svg)no-repeat;
    background-size: auto 19px;
}

.groupbox .btngroup_img li:nth-child(1) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-01-b.svg)no-repeat;
    background-size: auto 19px ;
}
.groupbox .btngroup_img li:nth-child(2) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-02-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(3) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-03-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(4) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-04-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(5) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-05-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(6) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-06-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(7) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-07-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(8) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-08-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(9) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-09-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(10) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-10-b.svg)no-repeat;
    background-size: auto 19px;
}
.groupbox .btngroup_img li:nth-child(11) a:hover::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 19px;
    background: url(../frontimages/page-icon-11-b.svg)no-repeat;
    background-size: auto 19px;
}

.overflowbox-y{
    overflow-y: scroll;
    height: calc(100% - 60px);
}
.updatedbox{
    width: 100%;
    padding:15px 15px;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255);
    box-shadow:0 0px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.updatedbox input.btn-style{
    color: #fff;
}
.updatedbox input.btn-style:hover{
    background-color: var(--btn-yellow);
}

/*資料填寫*/
.conterbox .groupbox .inputbox{
    display: flex;
    gap: 20px;   
    flex-direction: column;
}
.conterbox .groupbox .inputbox li{
    display: flex;
    gap: 15px;
}
.conterbox .groupbox .inputbox .box{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.conterbox .groupbox .inputbox .box .title{
    color: var(--btn-black-deep);
    font-size: 18px;
}
.btn-archive{
    color: #fff;
    font-weight: bold;
}

/*資料*/
.databox{    
    flex-direction: column;
    gap: 10px;
}
.groupbox.databox .titlebox .title {
    font-size: 16px;
    color: #788E9E;
}
.databox .inputbox{
    padding:20px 15px;
}
.databox li{
    display: flex;
    gap: 10px;
}
.databox li .box .input-style{
    color: var(--btn-black-deep);
    font-weight: normal;
    justify-content: flex-start;
}
.databox li .box .input-box{
    display: flex;
    align-items: center;
    gap: 5px;
}
.databox li .box .input-style.btn-archive{
    color: #fff;
    width: inherit;

}
/* 列表-資料顯示 */
.listbox.data_listbox {
    gap: 0;
}
.listbox.data_listbox li{
    padding: 10px 5px;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}
.listbox.data_listbox li .title::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 1px 0;
    border-radius: 30px;
    background-color: var(--font-b-color);
}
.listbox.data_listbox li:hover{
    background-color: var(--btn-blue-light);
}
.listbox.data_listbox li:not(:last-child){
    border-bottom: 1px solid #eee;
}

/* 九宮格排版 */
.listbox.wrap_listbox{
    flex-direction: row;
    flex-wrap: wrap;
}
.listbox.wrap_listbox li{
    width:calc(100%/3 - 4px);
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.listbox.wrap_listbox li:hover{
    background-color: var(--btn-blue-light);
}
.listbox.wrap_listbox li .title{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 16px;
}
.listbox.wrap_listbox li .title .spec{
    font-size: 14px;
}
.listbox.wrap_listbox li .textbox img{
    max-height: 200px;
}

/*頁籤-------*/
.page-bookmark {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
  }
  
.page-bookmark .bookmarkbox {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }
  
  .page-bookmark .bookmarkbox li {
    display: initial;
    float: left;
    width: auto;
    height: 50px;
    padding: 15px 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #B3B3B3;
  }
  
  .page-bookmark .bookmarkbox li .font,
  .page-bookmark .bookmarkbox li .font a {
    color: var(--white);
    font-size: 18px;
  }
  
  .page-bookmark .bookmarkbox li .bottom-line {
    width: 100%;
    height: 6px;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 6px;
  }
  .page-bookmark .bookmarkbox li#mark-active{
    background-color: var(--btn-red);
  }
  .page-bookmark .bookmarkbox li:hover,.page-bookmark .bookmarkbox li#mark-active:hover{
    background-color: var(--btn-red-deep);
  }

  #mark-active .font,
  #mark-active .font a,
  .page-bookmark .bookmarkbox li:hover .font,
  #mark-active .font,
  .page-bookmark .bookmarkbox li:hover .font a {
    color: var(--white);
  }
  
  /*頁籤-------*/