/*首頁下方產品分類/BANNER*/
.productbox{width:100%; vertical-align:middle; padding:0 0%;}
.productbox .jcarousel-wrapper {margin: 0px auto; padding:0 3%; /*border-radius: 5px;*/ border:0px solid #eee; border-image: none; position: relative;/* box-shadow: 0px 0px 2px #999; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 2px #999; -moz-box-shadow: 0 0 2px #999;*/}
.productbox .jcarousel {width:100%; max-height:100px; overflow: hidden; position: relative;/*-webkit-box-shadow:0px 0px 5px #d3d3d3;box-shadow:0px 0px 5px #d3d3d3;*/}
.productbox .jcarousel ul {	list-style: none; margin:0 auto; padding: 0px; width:2500px; position: relative;}
.productbox .jcarousel li {	/*border: 1px solid rgb(255, 255, 255);*/ border-image: none; width: 260px; height:95px; float: left; padding:4px; margin-bottom:0px; /*box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;*/position: relative;}
.productbox .jcarousel li .mesk{  position:absolute;bottom:4px;left:0; padding:14px 15px; text-align:left; font-size:112.5%; font-weight:bold; background-color:rgba(255,255,255,0.7); overflow:hidden; width:100%;}
.productbox .jcarousel li a{ color:#000; display:inline-block; }
.productbox .jcarousel ul li a:focus{border:0px solid #ae5da1;}
.productbox .jcarousel img {	/*height: auto !important; */display: block; max-width:225px;min-width:100%; max-height:80px;min-height:80px; text-align:center; border:2px solid #eee;}

/*.productbox .jcarousel-control-prev {
	background: rgb(78, 68, 60); font: 24px/27px Arial, sans-serif; border-radius: 30px; top: 50%; width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; margin-top: -15px; position: absolute; font-size-adjust: none; font-stretch: normal; box-shadow: 0px 0px 4px #f0efe7; text-shadow: 0px 0px 1px #000; -webkit-border-radius: 0px; -moz-border-radius: 30px; -webkit-box-shadow: 0 0 4px #F0EFE7; -moz-box-shadow: 0 0 4px #F0EFE7;opacity:0.3;}
.productbox .jcarousel-control-next {
	background: rgb(78, 68, 60); font: 24px/27px Arial, sans-serif; border-radius: 30px; top: 50%; width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; margin-top: -15px; position: absolute; font-size-adjust: none; font-stretch: normal; box-shadow: 0px 0px 4px #f0efe7; text-shadow: 0px 0px 1px #000; -webkit-border-radius: 0px; -moz-border-radius: 30px; -webkit-box-shadow: 0 0 4px #F0EFE7; -moz-box-shadow: 0 0 4px #F0EFE7;opacity:0.3;}*/

.productbox .jcarousel-control-prev {
	font-family:Arial, sans-serif; font-size:400%; padding-bottom:5px;vertical-align:middle; border-radius:0px 6px 6px 0px; top:8%; width: 26px; height: auto; text-align: center; color:#3E3E3E; text-decoration: none; position: absolute; font-size-adjust: none; font-stretch: normal;/*text-shadow: 0px 0px 3px #000; box-shadow: 0px 0px 4px #f0efe7;  -webkit-border-radius: 0px; -moz-border-radius: 30px;/* -webkit-box-shadow: 0 0 4px #F0EFE7; -moz-box-shadow: 0 0 4px #F0EFE7;opacity:0.8;*/}
.productbox .jcarousel-control-next {
	 font-family:Arial, sans-serif; font-size:400%;padding-bottom:5px;vertical-align:middle; border-radius:6px 0px 0px 6px; top: 8%; width: 26px; height: auto; text-align: center; color:#3E3E3E; text-decoration: none;position: absolute; font-size-adjust: none; font-stretch: normal;/*text-shadow: 0px 0px 3px #000; box-shadow: 0px 0px 4px #f0efe7; text-shadow: 0px 0px 1px #000; -webkit-border-radius: 0px; -moz-border-radius: 30px; /*-webkit-box-shadow: 0 0 4px #F0EFE7; -moz-box-shadow: 0 0 4px #F0EFE7;opacity:0.8;*/}
.productbox .jcarousel-control-prev:hover,
.productbox .jcarousel-control-next:hover{ background:#eee; vertical-align: baseline; }
	
.productbox .jcarousel-control-prev {left: -0px;}
.productbox .jcarousel-control-next {right: 0px;}
.productbox .jcarousel-pagination { display:none;/*下方點點不顯示*/
	margin: 0px; left: 50%; bottom: -40px; position: absolute; transform: translate(-50%, 0px); -webkit-transform: translate(-50%, 0);
}
.productbox .jcarousel-pagination a {
	background: rgb(255, 255, 255); border-radius: 0px; width: 10px; height: auto; color: rgb(78, 68, 60); line-height: 10px; text-indent: -9999px; font-size: 70%; text-decoration: none;  display: inline-block; box-shadow: 0px 0px 2px #4e443c; -webkit-box-shadow: 0 0 2px #4E443C; -moz-box-shadow: 0 0 2px #4E443C;
}
.productbox .jcarousel-pagination a.active {
	background: rgb(78, 68, 60); color: rgb(255, 255, 255); opacity: 1; box-shadow: 0px 0px 2px #f0efe7; -webkit-box-shadow: 0 0 2px #F0EFE7; -moz-box-shadow: 0 0 2px #F0EFE7;
}

/*--主題專區-----------------------------*/
.Themeicon{ float:left; width:100%;height: auto; overflow:hidden;vertical-align:middle; margin-top:0%;}
.Themeicon .jcarousel-wrapper {width:100%;height: auto; overflow:hidden;margin: 0px auto;border: 0px solid #eee; border-image: none; position: relative;}
.Themeicon .jcarousel_2 {width:100%; max-height:auto; overflow: hidden; position: relative;}
.Themeicon .jcarousel_2 ul {list-style: none; margin: 0px; padding:0 2% ; width:2500px;height: auto; overflow:hidden; position: relative;}
.Themeicon .jcarousel_2 li {border-image: none; width:16.5%; height: auto; overflow:hidden;float: left; padding:0.5%; margin-bottom:2px;position: relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.Themeicon .jcarousel_2 li a{ color:#000; display:inline-block;}
.Themeicon .jcarousel_2 ul li a img {	display: block; width:100%;height:auto; text-align:center; border:0px solid #FFF;}
.Themeicon .jcarousel_2-control-prev {
	background:rgba(0%,0%,0%,0.8);font-family:Arial, sans-serif; font-size:280%; padding-bottom:5px;vertical-align:middle; border-radius:0px 6px 6px 0px; top: 25%; width: 26px; height: auto; text-align: center; color: #FFF; text-decoration: none; position: absolute; font-size-adjust: none; font-stretch: normal;}
.Themeicon .jcarousel_2-control-next {
	background:rgba(0%,0%,0%,0.8); font-family:Arial, sans-serif; font-size:280%;padding-bottom:5px;vertical-align:middle; border-radius:6px 0px 0px 6px; top: 25%; width: 26px; height: auto; text-align: center; color: #FFF; text-decoration: none;position: absolute; font-size-adjust: none; font-stretch: normal;}
.Themeicon .jcarousel_2-control-prev:hover,
.Themeicon .jcarousel_2-control-next2:hover{ background:#333;opacity:0.8;color: #FFF; vertical-align: baseline; }
	
.Themeicon .jcarousel_2-control-prev {left: -0px;}
.Themeicon .jcarousel_2-control-next {right: 2px;}
.Themeicon .jcarousel-pagination { /*display:none;/*下方點點不顯示*/
	margin: 0px; left: 50%; bottom: -40px; position: absolute; transform: translate(-50%, 0px); -webkit-transform: translate(-50%, 0);
}
.Themeicon .jcarousel-pagination a {
	background: rgb(255, 255, 255); border-radius: 0px; width: 10px; height: auto; color: rgb(78, 68, 60); line-height: 10px; text-indent: -9999px; font-size: 70%; text-decoration: none;  display: inline-block; box-shadow: 0px 0px 2px #4e443c; -webkit-box-shadow: 0 0 2px #4E443C; -moz-box-shadow: 0 0 2px #4E443C;
}
.Themeicon .jcarousel-pagination a.active {
	background: rgb(78, 68, 60); color: rgb(255, 255, 255); opacity: 1; box-shadow: 0px 0px 2px #f0efe7; -webkit-box-shadow: 0 0 2px #F0EFE7; -moz-box-shadow: 0 0 2px #F0EFE7;
}



@media screen and (max-width: 767px) {
.productbox .jcarousel {width: 75%;margin:0 auto;-webkit-box-shadow: none;box-shadow:none;}
/*.bannerbox .jcarousel li { border-image: none; width: 50%; height: auto; float: left; padding:4px; margin-bottom:8px;}
.bannerbox .jcarousel img {	height: auto !important; display: block; width: 100%; text-align:center;border:0; border:6px solid #FFF;}*/
.productbox .jcarousel li {border-image: none; width: 50%; height: 0; padding-bottom:260%;  float: left; padding-right:2px; margin-bottom:0px;}
.productbox .jcarousel img {  max-width: 100%;min-width: 100%;height: auto !important; max-height:90px;min-height:90px; display: block; text-align:center;border:0; border:0px solid #FFF;}

.bannerbox .jcarousel {	width: 50%; margin:0 auto; height:auto;-webkit-box-shadow: none;box-shadow:none;}
.bannerbox .jcarousel li {border-image: none; width: 50%; height: auto; float: left; padding-right:2px; margin-bottom:8px;}
.bannerbox .jcarousel img {width: 100%;max-width: 100%;min-width: 100%;	height: auto !important; display: block;  text-align:center;border:0; border:4px solid #FFF;}

.productbox .jcarousel-control-prev {
	background: rgba(78, 68, 60,0);font-family:Arial, sans-serif; font-size:350%; border-radius: 0px; top: 55%; width: 30px; height: auto; text-align: center; color: #666; text-decoration: none; margin-top: -35px; position: absolute; font-size-adjust: none; font-stretch: normal;/* box-shadow: 0px 0px 4px #f0efe7; text-shadow: 0px 0px 1px #000; -webkit-border-radius: 0px; -moz-border-radius: 30px;/* -webkit-box-shadow: 0 0 4px #F0EFE7; -moz-box-shadow: 0 0 4px #F0EFE7;*/opacity:0.9;}
.productbox .jcarousel-control-next {
	background: rgba(78, 68, 60,0); font-family:Arial, sans-serif; font-size:350%; border-radius: 0px; top: 55%; width: 30px; height: auto; text-align: center; color: #666; text-decoration: none; margin-top: -35px; position: absolute; font-size-adjust: none; font-stretch: normal;/* box-shadow: 0px 0px 4px #f0efe7; text-shadow: 0px 0px 1px #000; -webkit-border-radius: 0px; -moz-border-radius: 30px; /*-webkit-box-shadow: 0 0 4px #F0EFE7; -moz-box-shadow: 0 0 4px #F0EFE7;*/opacity:0.9;}
.productbox .jcarousel-control-prev {left: 15px;}
.productbox .jcarousel-control-next {right: 19px;}
/*-------------------------------*/
/*--主題專區-----------------------------*/
.Themeicon{ float:left; width:96%;height: auto; overflow:hidden;vertical-align:middle; margin-top:0%;}
.Themeicon .jcarousel-wrapper {width:100%;height: auto; overflow:hidden;margin: 0px auto;border: 0px solid #eee; border-image: none; position: relative;}
.Themeicon .jcarousel_2 {width:100%; max-height:auto; overflow: hidden; position: relative;}
.Themeicon .jcarousel_2 ul {	list-style: none; margin: 0px; padding: 0px; width:2500px;height: auto; overflow:hidden; position: relative;}
.Themeicon .jcarousel_2 li {	 border-image: none; width:33%; height: auto; overflow:hidden;float: left; padding:0%;  margin-bottom:2px;position: relative;}
.Themeicon .jcarousel_2 li a{ color:#000; display:inline-block;}
.Themeicon .jcarousel_2 ul li a img {	display: block;width:100%; height:auto; text-align:center; border:0px solid #FFF;}

.Themeicon .jcarousel_2-control-prev {
	background:rgba(0%,0%,0%,0.8);font-family:Arial, sans-serif; font-size:280%; padding-bottom:5px;vertical-align:middle; border-radius:0px 6px 6px 0px; top: 25%; width: 26px; height: auto; text-align: center; color: #FFF; text-decoration: none; position: absolute; font-size-adjust: none; font-stretch: normal;}
.Themeicon .jcarousel_2-control-next {
	background:rgba(0%,0%,0%,0.8); font-family:Arial, sans-serif; font-size:280%;padding-bottom:5px;vertical-align:middle; border-radius:6px 0px 0px 6px; top: 25%; width: 26px; height: auto; text-align: center; color: #FFF; text-decoration: none;position: absolute; font-size-adjust: none; font-stretch: normal;}
.Themeicon .jcarousel_2-control-prev:hover,
.Themeicon .jcarousel_2-control-next2:hover{ background:#333;opacity:0.8;color: #FFF; vertical-align: baseline; }
	
.Themeicon .jcarousel_2-control-prev {left: -0px;}
.Themeicon .jcarousel_2-control-next {right: 2px;}
.Themeicon .jcarousel-pagination { /*display:none;/*下方點點不顯示*/
	margin: 0px; left: 50%; bottom: -40px; position: absolute; transform: translate(-50%, 0px); -webkit-transform: translate(-50%, 0);
}
.Themeicon .jcarousel-pagination a {
	background: rgb(255, 255, 255); border-radius: 0px; width: 10px; height: auto; color: rgb(78, 68, 60); line-height: 10px; text-indent: -9999px; font-size: 70%; text-decoration: none;  display: inline-block; box-shadow: 0px 0px 2px #4e443c; -webkit-box-shadow: 0 0 2px #4E443C; -moz-box-shadow: 0 0 2px #4E443C;
}
.Themeicon .jcarousel-pagination a.active {
	background: rgb(78, 68, 60); color: rgb(255, 255, 255); opacity: 1; box-shadow: 0px 0px 2px #f0efe7; -webkit-box-shadow: 0 0 2px #F0EFE7; -moz-box-shadow: 0 0 2px #F0EFE7;
}
	}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.productbox .jcarousel li {border-image: none; width: 50%; height: 0; padding-bottom:260%;  float: left; padding-right:2px; margin-bottom:0px;}
.productbox .jcarousel img {  max-width: 100%;min-width: 100%;height: auto !important; max-height:90px;min-height:90px; display: block; text-align:center;border:0; border:0px solid #FFF;}

/*--主題專區-----------------------------*/
.Themeicon{ float:left; width:96%;height: auto; overflow:hidden;vertical-align:middle; margin-top:0%;}
.Themeicon .jcarousel-wrapper {width:100%;height: auto; overflow:hidden;margin: 0px auto;border: 0px solid #eee; border-image: none; position: relative;}
.Themeicon .jcarousel_2 {width:100%; max-height:auto; overflow: hidden; position: relative;}
.Themeicon .jcarousel_2 ul {	list-style: none; margin: 0px; padding: 0px; width:2500px;height: auto; overflow:hidden; position: relative;}
.Themeicon .jcarousel_2 li {	 border-image: none; width:33%; height: auto; overflow:hidden;float: left; padding:0.5%; margin-bottom:2px;position: relative;}
.Themeicon .jcarousel_2 li a{ color:#000; display:inline-block;}
.Themeicon .jcarousel_2 ul li a img {	display: block; width:100%; height:auto; text-align:center; border:0px solid #FFF;}

.Themeicon .jcarousel_2-control-prev {
	background:rgba(0%,0%,0%,0.8);font-family:Arial, sans-serif; font-size:280%; padding-bottom:5px;vertical-align:middle; border-radius:0px 6px 6px 0px; top: 25%; width: 26px; height: auto; text-align: center; color: #FFF; text-decoration: none; position: absolute; font-size-adjust: none; font-stretch: normal;}
.Themeicon .jcarousel_2-control-next {
	background:rgba(0%,0%,0%,0.8); font-family:Arial, sans-serif; font-size:280%;padding-bottom:5px;vertical-align:middle; border-radius:6px 0px 0px 6px; top: 25%; width: 26px; height: auto; text-align: center; color: #FFF; text-decoration: none;position: absolute; font-size-adjust: none; font-stretch: normal;}
.Themeicon .jcarousel_2-control-prev:hover,
.Themeicon .jcarousel_2-control-next2:hover{ background:#333;opacity:0.8;color: #FFF; vertical-align: baseline; }
	
.Themeicon .jcarousel_2-control-prev {left: -0px;}
.Themeicon .jcarousel_2-control-next {right: 2px;}
.Themeicon .jcarousel-pagination { /*display:none;/*下方點點不顯示*/
	margin: 0px; left: 50%; bottom: -40px; position: absolute; transform: translate(-50%, 0px); -webkit-transform: translate(-50%, 0);
}
.Themeicon .jcarousel-pagination a {
	background: rgb(255, 255, 255); border-radius: 0px; width: 10px; height: auto; color: rgb(78, 68, 60); line-height: 10px; text-indent: -9999px; font-size: 70%; text-decoration: none;  display: inline-block; box-shadow: 0px 0px 2px #4e443c; -webkit-box-shadow: 0 0 2px #4E443C; -moz-box-shadow: 0 0 2px #4E443C;
}
.Themeicon .jcarousel-pagination a.active {
	background: rgb(78, 68, 60); color: rgb(255, 255, 255); opacity: 1; box-shadow: 0px 0px 2px #f0efe7; -webkit-box-shadow: 0 0 2px #F0EFE7; -moz-box-shadow: 0 0 2px #F0EFE7;
}

	}