@charset "utf-8";

/*會員註冊啟用成功*/
.table_box4 #css_table_01 .css_td .text_show{ text-align:center; display:block; margin:0 auto; font-size:110%;}
.table_box4 #css_table_01 .css_td .text_show a{ color:#F60;display:inline-block;}

/*member_btnmenu*/
.member_btnmenu{display:block; width: 100%;height: auto; }
.member_btnmenu ul{	list-style: none;width: 100%;height: auto; overflow:hidden;padding-left:1%;}
.member_btnmenu li{	float: left;width:23%;height: auto;border-left:1px solid #999; border:1px solid #999; padding:30px 5px;margin:1%; border-radius:10px;
background:#00335f;.background:#00335f;
		background:linear-gradient(#004077 50%, #00335f 50%);
		background: -webkit-linear-gradient(#004077 50%, #00335f 50%);
		background: -ms-linear-gradient(#004077 50%, #00335f 50%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004077', endColorstr='#00335f',GradientType=0);}
.member_btnmenu li:hover{background:#002240;}
.member_btnmenu li a{display:block;width:100%;height: auto;line-height:130%;font-size:110%;color:#FFF;text-align:center;text-decoration:none;vertical-align: middle; font-weight:bold;}
.member_btnmenu li br{ padding:0px;}
.member_btnmenu li a img{display: inline-block; width:50px; height:auto;line-height:100%; vertical-align: middle; padding-right:1px; text-align:center; margin:0 auto; margin-right:5px;}

/* == 手機版型區 =============================== */
@media screen and (max-width: 767px){
	/*member_btnmenu*/
.member_btnmenu{display:block; width: 100%;height: auto; }
.member_btnmenu ul{	list-style: none;width: 100%;height: auto; overflow:hidden;padding-left:1%;}
.member_btnmenu li{	float: left;width:45%;height: auto;border-left:1px solid #999; border:1px solid #999; padding:10px 5px 10px 5px;margin:1%; border-radius:10px;
background:#00335f;.background:#00335f;
		background:linear-gradient(#004077 50%, #00335f 50%);
		background: -webkit-linear-gradient(#004077 50%, #00335f 50%);
		background: -ms-linear-gradient(#004077 50%, #00335f 50%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004077', endColorstr='#00335f',GradientType=0);}
.member_btnmenu li:hover{background:#002240;}
.member_btnmenu li a{display:block;width:100%;height: auto;line-height:130%;font-size:110%;color:#FFF;text-align:center;text-decoration:none;vertical-align: middle; font-weight:bold;}
.member_btnmenu li a img{display: inline-block; width:40px; height:auto;line-height:100%; vertical-align: middle; padding-right:1px; text-align:center; margin:0 auto; margin-right:5px;}
	
	}