@charset "utf-8";

body {font-family:Arial, Helvetica, "微軟正黑體", sans-serif !important;margin:0 auto;padding:0 20px;background-color:#fff;}
h3{ color:#FFF; font-size:110%; display:block; width:100%; padding:5px 0; background-color:#ed6b85;border-radius:8px 8px 0 0; margin-bottom:-2px; text-align:center;}

/*-----表單樣式--------------------*/
#css_table { display:table; width:100%; letter-spacing:normal;}
#css_table .css_tr { display: table-row;width:100%;.border-bottom:#188fa7 2px solid;.display: inline-block;}
#css_table .css_td { display: table-cell;padding:6px 5px; min-width: auto;.display: block;border-bottom:#ed6b85 1px dotted; text-align: left; font-size:14px; }
#css_table .css_tr:nth-child(odd){ background-color:#fef7f7;.background-color:#f6f6f6;.display: inline-block;}
/*標題部分*/
#css_table .css_tr:first-child {  font-weight:bold; color:#FFFFFF;_display: none;.display: none;}
#css_table .css_tr:first-child a{ text-decoration:none;color:#666;}
#css_table .css_tr:first-child a:hover{ text-decoration:none; color:#188fa7;}
#css_table .css_tr:last-child .css_td{  font-weight:bold;border-bottom:#ed6b85 0px dotted;}


#css_table .line{background-color:#f0e8e5;color:#ed6b85;}
#css_table .title{.display: block;color:#0277bd;font-size:87.5%;}
#css_table .css_td b{ color:#0277bd;display:none;.display:inline;}
#css_table .css_td a.link{ color:#ff8a00;}

#css_table .css_td .tabbtn{background-color:#000; text-decoration:none; font-weight:bold;color:#FFF; font-size:75%; padding:5px 5px; border-radius:5px; text-align:center;}
#css_table .css_td .tabbtn a{ color:#FFFFFF; font-size:14px; }
#css_table .css_td .tabbtn:hover{text-decoration:none;}

#css_table .css_td a img{ vertical-align:middle; border:0;}
#css_table .css_tr .css_td.immg { width:110px;}
#css_table .css_tr .css_td.immg img{ margin:1px;}
#css_table .css_tr .css_td.none { display:block;}

.table_box1 {width:100%; height:auto; margin:0 auto;}
.table_box1 #css_table .line{background-color:#f5e5e6; }
.table_box1 #css_table .box01{ width:auto;}
.table_box1 #css_table .box02{ width:auto;}
.table_box1 #css_table .box03{ width:auto;}
.table_box1 #css_table .box04{ width:auto;}
.table_box1 #css_table .box05{ width:auto;}.table_box1 #css_table .box05 span{}.table_box1 #css_table .box05 span textarea{ width:90%; vertical-align:middle;}
.table_box1 #css_table .box06{ width:auto;}
.table_box1 #css_table .box07{ width:auto;}
.table_box1 #css_table .box08{ width:auto;}
.table_box1 #css_table .btntd{ width:150px;}

.member_discuss {width:100%; height:auto; margin:0 auto;}
.member_discuss #css_table .line{background-color:#f5e5e6; }
.member_discuss #css_table .box01{ width:auto;}
.member_discuss #css_table .box02{ width:auto;word-wrap:break-word;word-break:break-all;}
.member_discuss #css_table .box03{ width:auto;word-wrap:break-word;word-break:break-all;}
.member_discuss #css_table .box04{ width:auto;}
.member_discuss #css_table .box05{ width:auto;}
.member_discuss #css_table .box06{ width:auto;}
.member_discuss #css_table>.box07{ width:auto;}.member_discuss>#css_table>.box07>.btn_input{ display:block; width:100%; line-height:180%;}
.member_discuss #css_table .box08{ width:auto;}
.member_discuss #css_table .btntd{ width:auto; display: inline-block;}

.buttonbox{ width:100%; margin:10px auto 0px auto; color:#FFF; text-align:center; clear:both;}
.buttonbox .btn_gray{color:#FFF; border-style:none; min-width:150px; height:36px; text-align:center; cursor:pointer; margin:2px; font-size:100%; border-radius:5px;
background:#272727;.background:#272727;
background:linear-gradient(#535353 50%, #272727 50%);
background: -webkit-linear-gradient(#535353 50%, #272727 50%);
background: -ms-linear-gradient(#535353 50%, #272727 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#272727',GradientType=0);}
.buttonbox .btn_gray:hover{background:#000;}

.buttonbox a{ display:inline-block;color:#FFF; border-style:none; min-width:150px; height:36px; text-align:center; vertical-align:middle; cursor:pointer; margin:2px; font-size:100%; border-radius:5px;
background:#272727;.background:#272727; text-decoration:none; line-height:36px;
background:linear-gradient(#535353 50%, #272727 50%);
background: -webkit-linear-gradient(#535353 50%, #272727 50%);
background: -ms-linear-gradient(#535353 50%, #272727 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#272727',GradientType=0);}
.buttonbox a:hover{background:#000;}

@media only screen and (max-width: 768px) {
#css_table { background-color: transparent; text-align:left;}
#css_table .css_tr { display:block; width:100%; height:auto; overflow:hidden;border:#ed6b85 1px dotted; padding-bottom:1%;margin-bottom: -1px;	background: #ffffff;}
#css_table .css_tr:nth-child(odd){ background-color:#f5e5e6;.display: block;}
/*標題部分*/
#css_table .css_tr:first-child {  font-weight:bold;/*標題底色*/background-color: #ea6e8c; color:#FFFFFF;display: none;}
#css_table .css_tr:first-child a{ text-decoration:none;color:#666;}
#css_table .css_tr:first-child a:hover{ text-decoration:none; color:#188fa7;}
#css_table .css_td { display:inline-block;border: #ddd 1px solid;width: 100%;border: none; text-align:left; padding:1% 2%; }

#css_table .line{/*標題底色*/background-color: rgba(255,255,255,0.8);color:#333;}
#css_table .css_tr .css_td h1{ font-size:100%;color:#000; margin:0px;}
#css_table .title{.display: block;color:#0277bd;font-size:87.5%;}
#css_table .css_td b{ color:#000;display: inline-block;.display:inline;padding-right:5px; text-align: right; font-weight:bold;}
#css_table .css_td b:after{ content:":";}
#css_table .css_td a.link{ color:#ff8a00;}

#css_table .css_td .productbox{ display:block; width:100%; }
#css_table .css_td .productbox img{ background-color:#CC0000; width:25%; float: left;}
#css_table .css_td .productbox p{ width:70%; float: left; padding:1% 3%; line-height:120%;}

#css_table .css_td .tabhotn{background-color:#13a8c0; text-decoration:none; font-weight:bold;color:#FFF; font-size:75%; padding:5px 5px; border-radius:5px;}
#css_table .css_td .tabhotn a{ color:#FFFFFF; font-size:14px; }
#css_table .css_td .tabhotn:hover{text-decoration:none;}
#css_table .css_td a img{ vertical-align:middle; border:0;}


.table_box1 { clear:both; width:96%; height:auto; margin:10px auto;}
.table_box1 #css_table .line{background-color:#000;}
.table_box1 #css_table .box01{ width:100%;float:left;}
.table_box1 #css_table .box02{ width:100%;float:left;}
.table_box1 #css_table .box03{ width:100%;float:left;}
.table_box1 #css_table .box04{ width:100%;float:left;}
.table_box1 #css_table .box05{ width:100%;}.table_box1 #css_table .box05 span{ display:block;}
.table_box1 #css_table .box05 span textarea{ width:90%;}

#css_table .css_tr:last-child .css_td{ display:none; background-color:#f5e5e6;.display: block;}
#css_table .css_tr:last-child .css_td:last-child{ display:block; width:40%;}
}