body{
	font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;
}
.mubg{ /*background-color:#999;*/ margin:10px 10px 10px 10px;color:#000;}
#menu_list>.container{ width:100%; text-align:left;font-size:130%;color:#000;font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;background: rgba(154, 154, 154, 0.1);	 }
#menu_list>.container .menunoclose,
#menu_list>.container .menuTitle {
	position: relative;
	margin:0 auto 1px auto; 
	padding:11px 0 9px 20px;
	color: #fff;
	font-size:110%;
	font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;	
	/*background-color: #0076a8;*/
	/*background: linear-gradient(#0076a8 50%, #008fcc 100%);*/
	cursor: pointer;
	background-color: #5e5e5e;	
	background-size: 15px auto;
	background-position:20px 11px;
	background-repeat:no-repeat; font-weight:bold;
}
#menu_list>.container .menuTitle img{ width:18px; height:auto; margin-right:5px;}
#menu_list>.container .menuTitle a{color: #fff; text-decoration:}
/*.menuTitle:nth-of-type(1){
	background-image:url(../images/icon_01.png);
}
.menuTitle:nth-of-type(2){
	background-image:url(../images/icon_02.png);
}
.menuTitle:nth-of-type(4){
	background-image:url(../images/icon_03.png);
}
.menuTitle:nth-of-type(4){
	background-image:url(../images/icon_03.png);
}
.menuTitle:nth-of-type(6){
	background-image:url(../images/icon_04.png);
}
.menuTitle:nth-of-type(8){
	background-image:url(../images/icon_05.png);
}
.menuTitle:nth-of-type(10){
	background-image:url(../images/icon_06.png);
}
.menuTitle:nth-of-type(12){
	background-image:url(../images/icon_07.png);
}*/

#menu_list>.container .menuTitle .down{
	display: inline-block;
	position:absolute;
	right: 20px;
	top: 17px;
	width: 10px;
	height: 6px;
	background: url(../Images/leftmeun_btn.png)no-repeat;
	background-size: 10px 6px;
}


#menu_list>.container .menunoclose a font{color: #000; }
#menu_list>.container .menuContent {font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif; /*background-color: #0076a8;*/ }
#menu_list>.container .menuContent ul{margin-top: 0px;list-style: none; margin-left:20px; margin-right:2px; font-size:105%; }
#menu_list>.container .menuContent ul li{ 
	width:90%; height:auto;
	color:#000;
	
	padding-left:20px; margin:10px 0;
	background: url(../images/icon.gif) no-repeat left center; 
	 list-style-position: outside; }
#menu_list>.container .menuContent ul li:hover{width:90%; height:auto;}
#menu_list>.container .menuContent ul li .tfont {
	background-position: left center;
	/*padding-left: 15px;*/
	/*margin-left:-5px;*/
	/*background-image: url(../images/menu_icon.png);list-style-type: disc;*/
	background-repeat: no-repeat;
	color:#000;line-height: 120%;
}

#menu_list>.container .menuContent ul li .tfont a {	color:#000;  text-decoration: none; }
#menu_list>.container .menuContent ul li .tfont a:hover,
#menu_list>.container .menuContent ul li .tfont a:active,
#menu_list>.container .menuContent ul li .tfont a:focus{ color:#C00; text-decoration: none;}
