@charset "utf-8";

 body {font-family:Arial, Helvetica, sans-serif;-webkit-text-size-adjust:none;width:100%;height:100%;background: url(../images/loginbg1.jpg) top center repeat;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box;/*background: linear-gradient(110deg, rgba(255, 255, 255, 1)15%, rgba(0, 0, 0, 0.5)85%);*/
}
.main { margin: 0px auto;width: 100%;height:100%;background: url(../images/loginbgtop.jpg) top center no-repeat; padding-top:150px;}
.mainbox{width: 500px;height: auto; overflow:hidden;margin:auto; border:1px solid #CCC; padding:5px;border-radius: 10px;box-shadow:0px 0px 10px rgba(80,80,80,0.3);}
.mainboxin{width:99%;height: auto;margin:auto;border:2px solid #CCC;border-radius: 8px; position:relative;}
.mainboxin .corner01{width: 11px;width: 11px; position:absolute; left:10px; top:10px;background: url(../images/icon_point.png) top center no-repeat;}
.mainboxin .corner02{width: 11px;width: 11px; position:absolute; left:10px; bottom:10px;background: url(../images/icon_point.png) top center no-repeat;}
.mainboxin .corner03{width: 11px;width: 11px; position:absolute; right:10px; top:10px;background: url(../images/icon_point.png) top center no-repeat;}
.mainboxin .corner04{width: 11px;width: 11px; position:absolute; right:10px; bottom:10px;background: url(../images/icon_point.png) top center no-repeat;}
.login {width:300px;height:auto;margin:auto; padding:80px 30px;}
.loginlogo img{width:255px;height: auto;}
.logintitle{width:80%;height:70px; background:url(../Images/icon_loginpeople.png) left center no-repeat; vertical-align:middle; background-size:55px auto; padding-left:65px;}
.login div{ width:99%;height: auto;margin-bottom:15px; font-size:130%; font-weight:bold; color:#5b5b5b; line-height:130%;}

.form_text {padding: 10px 10px 10px 50px;width: 80%;font-size: 110%; color: #000;font-family: "微軟正黑體", "新細明體", "細明體"; border-radius: 30px; border:0;box-shadow:0px 4px 5px rgba(80,80,80,0.3); }
.icon01 {background: #fff url(../Images/icon_loginaccount.png) 20px center no-repeat; background-size:20px auto;}
.icon02 {background: #fff url(../Images/icon_loginpassword.png) 20px center no-repeat; background-size:20px auto;}
.got, .got a { font-size: 18px; color: #6bb22a;text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
.got:hover {color: #000;text-decoration: underline;}
.footer {margin: 0px auto;width: 100%; height: 150px; background-color: #f4f4f4;background: linear-gradient(#f4f4f4 10%, #ffffff 100%); }
.footer .inf {width: 100%;margin: 0px auto;font-size: 14px;color: #acacac;padding-top: 30px;letter-spacing: 1px; line-height: 200%;}
.button, a .button {
	        font-size: 20px;
            border-radius: 30px;
            color: #fff;
            padding: 10px 30px;
            min-width: 46.5%;
            margin: 5px 2px;
            text-decoration: none;
            border: 1px;
            background-color: #000;
            background: linear-gradient(#5d5d5d 50%, #484848 100%);
            cursor: pointer;
            font-weight: bold;
            font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;
			margin:5px 5px;
        }

.button:hover {color: #fff;text-decoration: none;background-color: #ca6d00; background: linear-gradient(#484848 50%, #484848 100%);}

/* == 手機版型區 =============================== */

@media screen and (max-width: 767px) {
body {width: 100%; height:auto; margin: 0px auto;font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;}	
.main { margin: 0px auto;width: 100%;height:100%;background: url(../images/loginbgtop1.jpg) top center no-repeat; background-size:225% auto; padding-top:40px;}
.mainbox{width: 80%;height: auto; overflow:hidden;margin:auto; border:1px solid #CCC; padding:5px;border-radius: 10px;box-shadow:0px 0px 10px rgba(80,80,80,0.3);}
.mainboxin{width:99%;height: auto;margin:auto;border:2px solid #CCC;border-radius: 8px; position:relative;}
.mainboxin .corner01{width: 11px;width: 11px; position:absolute; left:10px; top:10px;background: url(../images/icon_point.png) top center no-repeat;}
.mainboxin .corner02{width: 11px;width: 11px; position:absolute; left:10px; bottom:10px;background: url(../images/icon_point.png) top center no-repeat;}
.mainboxin .corner03{width: 11px;width: 11px; position:absolute; right:10px; top:10px;background: url(../images/icon_point.png) top center no-repeat;}
.mainboxin .corner04{width: 11px;width: 11px; position:absolute; right:10px; bottom:10px;background: url(../images/icon_point.png) top center no-repeat;}
.login {width:80%;height:auto;margin:auto; padding:30px 0px;}
.loginlogo img{width:220px;height: auto;}
.logintitle{width:80%;height: auto; background:url(../Images/icon_loginpeople.png) left center no-repeat; vertical-align:middle; background-size:38px auto; padding-left:45px;}
.login div{ width:99%;height: auto;margin-bottom:15px; font-size:110%; font-weight:bold; color:#5b5b5b; line-height:110%;}

.form_text {padding: 10px 10px 10px 50px;width: 100%;font-size: 110%; color: #000;font-family: "微軟正黑體", "新細明體", "細明體"; border-radius: 30px; border:0;box-shadow:0px 4px 5px rgba(80,80,80,0.3);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box; }
.icon01 {background: #fff url(../Images/icon_loginaccount.png) 20px center no-repeat; background-size:20px auto;}
.icon02 {background: #fff url(../Images/icon_loginpassword.png) 20px center no-repeat; background-size:20px auto;}
.got, .got a { font-size: 18px; color: #6bb22a;text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
.got:hover {color: #000;text-decoration: underline;}
.footer {margin: 0px auto;width: 100%; height: 150px; background-color: #f4f4f4;background: linear-gradient(#f4f4f4 10%, #ffffff 100%); }
.footer .inf {width: 100%;margin: 0px auto;font-size: 14px;color: #acacac;padding-top: 30px;letter-spacing: 1px; line-height: 200%;}
.button, a .button {
	        font-size: 20px;
            border-radius: 30px;
            color: #fff;
            padding: 10px 30px;
            width: 100%;
            margin: 5px 2px;
            text-decoration: none;
            border: 1px;
            background-color: #000;
            background: linear-gradient(#5d5d5d 50%, #484848 100%);
            cursor: pointer;
            font-weight: bold;
            font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;
			margin:5px 5px;
        }

.button:hover {color: #fff;text-decoration: none;background-color: #ca6d00; background: linear-gradient(#484848 50%, #484848 100%);}

	}

/* == 平板版型區 =============================== */
 
@media screen and (min-width: 768px) and (max-width: 1024px) {}
@media screen and (min-width: 1025px) and (max-width: 1119px) {}