
    
    #banner .box .slide 
    {
         background-attachment:scroll;
    }
    
    #banner .word
        {
			display:none;
            padding: 10px 0px 10px 10px;
             width: 300px; 
             left: -300px;
             top: 250px;
        }
        
        #banner .slide h1
        {
              font-size:14px;
        }
        
        #banner .slide h2
        {
            font-size:12px;
            }