#goTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: none;
    cursor: pointer;
}


#hid_pos
{
     position:absolute;
      right:0px;
    /*   bottom:600px;*/
    }
