@charset "utf-8";
html, body {
	height: 100%; /*外層高度100%*/
	margin: 0;
  }
.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}
.content{
	padding-bottom: 50px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
}

.header {width:100%; height:auto; margin:0 auto;}
.topmenu{ width:100%; height:auto; margin:0 auto;z-index:8000;}
.container{ width:100%; height:auto; margin:0 auto; clear:both;}
.footer { width:100%;height:50px;margin-top: -50px; clear:both;background-color:#cccccc; padding:20px 20px;z-index:8000;position: relative;}

.header .headerbox {width:100%;height:70px;margin:0 auto; position:relative;}
.topmenu .topmenubox{width:100%; height:auto; margin:0 auto;}
.container .containerbox{width:100%; height:auto; margin:0 auto; overflow:hidden; padding:0.5%;}
.footer .footerbox{ width: 100%;height: auto; margin:0px auto;}

/*logo*/
.headerbox .logo{ display: inline-block;width:300px; height: auto; float:left;  margin-top:15px; }
.headerbox .logo span{display: none;}

/*toolbar*/
.headerbox .toolbar{float:right; width: 700px; height:auto; vertical-align:middle;}
.headerbox .toolbar .tool_a{ background-color:#F60; padding:8px; margin:0 3px; color:#FFF; border-radius:6px;}
.headerbox .toolbar .tool_a:hover{ background-color:#333; text-decoration:none;}
.headerbox .toolbar .toolbarsearch span{display: inline-block;vertical-align:middle; padding:2px 1px; font-size:110%;color:#6a5951;text-decoration:none;vertical-align:middle;}
.headerbox .toolbar .toolbarsearch span a{display: inline-block; padding:2px 1px;font-size:100%;color:#6a5951;text-decoration:none; vertical-align:middle;}
.headerbox .toolbar .toolbarsearch span a:hover{color:#333; text-decoration:underline;}
.headerbox .toolbar .toolbarsearch{  clear:both; display:block; width:100%; height:auto;text-align:right; margin-top:15px; font-size:100%;line-height:35px;}
.headerbox .toolbar .toolbarsearch input{ height:35px; margin-top:-2px;vertical-align:middle;-webkit-appearance: none; -moz-appearance: none; appearance: none; border-style:none;}
.headerbox .toolbar .toolbarsearch .search{ font-size:110%; vertical-align:middle;padding:3px 10px; background-color:#fff;color:#555;border:0;height:30px; border-radius:13px 0 0 13px; border:1px solid #CCC; margin-left:5px;}
.headerbox .toolbar .toolbarsearch .searchbtn{ text-indent:-999999px;background:#fdad18 url(../frontimages/btn_search.svg) center center no-repeat ; background-size:16px auto; color:#fff; border:0; padding:0 5px; width:30px;height:30px;line-height:30px; cursor:pointer;border-radius:0 13px 13px 0; border:1px solid #CCC;}
.headerbox .toolbar .toolbarsearch .searchbtn:hover{ opacity:0.8;}
.headerbox .toolbar .toolbarsearch .searchin{ display:inline-block; margin:0;background-color:#d3d3d3; color:#000; border:0;height:35px;line-height:34px;padding:0 10px;}
.headerbox .toolbar .toolbarsearch .searchin:hover{opacity:0.8;}


/*選單*/
.topmenu .topmenubox{position:relative;}
#menu {	margin: 0;text-decoration:none;
		padding: 0;
		list-style: none;
		position: relative;
		width: 100%;
		float: left;
		 background-color:#F90;
		font-family: "微軟正黑體", "新細明體", "細明體",Arial, Helvetica, sans-serif;}
	#menu ul{width: 100%;height: auto;}
	#menu li {width: 100%;margin: 0;padding: 0;	float: left;text-decoration:none; text-align:center;}
	#menu>li{width:16.66%; min-width:16.66%; max-width:16.66%;position:relative;border-right: 1px solid rgba(255,255,255,0.3);}
	#menu>li img{ max-width:100%; height:auto;}
	#menu>li:last-child{ border-right: 0px solid rgba(255,255,255,0.1);}
	#menu>li>a {
		font-size:115%;
       padding:10px;
		width: auto;
		display: block;
		color: #FFF;
		text-decoration: none;
		font-weight:bold; 
		/*text-indent:-999999px;	*/
	}
	#menu>li:hover {background:#dd7200;text-decoration:none;}
	#menu li a.on{background:#dd7200;text-decoration:none;}
	/*#menu li>ul {
		margin: 0;z-index:8000;
		line-height:150%;
		list-style: none;
		position: absolute;
		top:100%;
		left: 0;
		width: 100%;
		height:auto;
		color: #FFF;
		background:#ffe6a6;border-top:2px solid #fcad17;
		display: none; }
	#menu li ul li { float:left;display: block; width:100%; padding: 0px;border-bottom: 0px solid rgba(255,255,255,0.5); text-align:left;line-height:150%;}
	#menu li ul li a { display: block;color: #FFF;width:100%;padding: 10px;line-height:110%; font-size:105%; text-decoration:none; background:url(../frontimages/icon_arrow.png) 10px center no-repeat; background-size:10px auto; padding-left:25px; font-weight:bold;}
	#menu li ul li a:hover { text-decoration:none; color:#FFF; background:#396b97 url(../frontimages/icon_arrow_h.png) 10px center no-repeat; background-size:10px auto;}	*/
#menu>li img{ vertical-align:middle;}

.leftbox{ display:inline-block; width:12%; height:auto; margin-right:5px;}
.rightbox{display:inline-block; width:87%; height:auto;}

.oderlist{ list-style:none;width:100%; height:auto;display:block; margin:10px auto;}
.oderlist .table_box1 {width:100%; height:auto; margin:10px auto;border:1px solid #eee;/*overflow:scroll;overflow-y:hidden;*/}
.oderlist .table_box1 #css_table .line{background-color:#4e4e4e;}
.oderlist .table_box1 #css_table .box01{ width:auto;}
.oderlist .table_box1 #css_table .box02{ width:auto;}
.oderlist .table_box1 #css_table .box03{ width:auto;}
.oderlist .table_box1 #css_table .box04{ width:auto;}

/* == 手機版型區 =============================== */

@media screen and (max-width: 767px) {
	.wrapper {
		min-height: 100%;
		margin-bottom: -70px;
	}
	.content{
		padding-bottom: 70px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
	}
.footer { width:100%;height:70px;margin-top: -70px; clear:both;background-color:#cccccc; z-index:8000;position: relative;}
.header .headerbox {width:100%;height:70px;margin:0 auto; position:relative; margin-bottom:5px;}	
/*logo*/
.headerbox .logo img{ display:none;}
.headerbox .logo{ display: inline-block;text-indent: inherit;display: block;width:80%; height:70px; float: none;margin-top:0; font-size:80%; line-height:70px; padding:0 2%; color:#333;}
.headerbox .logo span{display: block;}	

#menu>li img{ display: block;vertical-align:middle; text-align:center; margin:0 auto;}

/*toolbar*/
/*toolbar*/
.headerbox .toolbar{float:right; width: 100%; height:auto; vertical-align:middle;}
.headerbox .toolbar .toolbarsearch span{display: inline-block;vertical-align:middle; padding:2px 1px; font-size:110%;color:#6a5951;text-decoration:none;vertical-align:middle;}
.headerbox .toolbar .toolbarsearch span a{display: inline-block; padding:2px 1px;font-size:100%;color:#6a5951;text-decoration:none; vertical-align:middle;}
.headerbox .toolbar .toolbarsearch span a:hover{color:#333; text-decoration:underline;}
.headerbox .toolbar .toolbarsearch{  clear:both; display:block; width:100%; height:auto;text-align: left; margin-top:0px; font-size:100%;line-height:35px;}
.headerbox .toolbar .toolbarsearch input{ height:35px; margin-top:-2px;vertical-align:middle;-webkit-appearance: none; -moz-appearance: none; appearance: none; border-style:none;}
.headerbox .toolbar .toolbarsearch .search{ font-size:110%; vertical-align:middle;padding:3px 10px; background-color:#fff;color:#555;border:0;height:30px; border-radius:13px 0 0 13px; border:1px solid #CCC; margin-left:5px;}
.headerbox .toolbar .toolbarsearch .searchbtn{ text-indent:-999999px;background:#fdad18 url(../frontimages/btn_search.svg) center center no-repeat ; background-size:16px auto; color:#fff; border:0; padding:0 5px; width:30px;height:30px;line-height:30px; cursor:pointer;border-radius:0 13px 13px 0; border:1px solid #CCC;}
.headerbox .toolbar .toolbarsearch .searchbtn:hover{ opacity:0.8;}
.headerbox .toolbar .toolbarsearch .searchin{ display:inline-block; margin:0;background-color:#d3d3d3; color:#000; border:0;height:35px;line-height:34px;padding:0 10px;}
.headerbox .toolbar .toolbarsearch .searchin:hover{opacity:0.8;}

.user_info_name { width: auto;font-size: 105%;color: #000;margin-right:10px;border-left: 1px solid #000; padding-left:20px; line-height:160%;}
.topmenu{display: none;}
.leftbox{ display: none;}
.rightbox{display:block; width:100%; height:auto;}
	}

/* == 平板版型區 =============================== */
 
@media screen and (min-width: 768px) and (max-width: 1024px) {
.wrapper {
		min-height: 100%;
}
.contant{
		padding-bottom: 50px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
}
.footer { width:100%;height:50px;margin-top: -50px; clear:both;background-color:#cccccc; padding:20px 20px;z-index:8000;position: relative;}	
.leftbox{ display: none;}
.rightbox{display:block; width:100%; height:auto;}
	
.oderlist{ list-style:none;width:100%; height:auto;display:block; margin:10px auto;}
.oderlist .table_box1 {width:100%; height:auto; margin:10px auto;border:1px solid #eee;/*overflow:scroll;overflow-y:hidden;*/}
.oderlist .table_box1 #css_table .line{background-color:#4e4e4e;}
.oderlist .table_box1 #css_table .box01{ width:auto;}
.oderlist .table_box1 #css_table .box02{ width:auto;}
.oderlist .table_box1 #css_table .box03{ width:auto;}
.oderlist .table_box1 #css_table .box04{ width:auto;}


	}
@media screen and (min-width: 1025px) and (max-width: 1119px) {}
