/** {	margin: 0px; padding: 0px;}*/
html {background: rgb(255, 255, 255);}
.bannerbox {font: 14px/24px sans-serif; margin: 0px auto;text-align: center; color: rgb(51, 51, 51); width: 100%;height:450px; overflow:hidden ;font-size-adjust: none; font-stretch: normal; _width: 100%; -webkit-font-smoothing: antialiased;position: relative;}
.bannerbox.wrapper1 {width:100%; margin-bottom:0px; float: left;}
/*h1 {font: 600 28px/36px sans-serif; margin: 50px 0px; font-size-adjust: none; font-stretch: normal;}
h3 {font: 600 18px/24px sans-serif; margin: 0px 0px 20px; color: rgb(153, 153, 153); font-size-adjust: none; font-stretch: normal;}
a {	color: rgb(34, 34, 34);}*/
.rslides {	margin: 0px auto;position: relative;}
.rslides {	list-style: none; margin: 0px; padding: 0px; width: 100%; height:auto;max-height: auto; overflow: hidden; }
.rslides li {left: 0px; top: 0px; width:100%; display: none; position: absolute; -webkit-backface-visibility: hidden;}
.rslides li:first-child {float: left; display: block; }
.rslides img {border: 0px currentColor; border-image: none; width: 100%;height: auto;float: left; display: block;}
.rslides_container {width: 100%; margin-bottom: 0px; float: left; position: relative;text-indent: 0px;-webkit-box-sizing:border-box;}
.mesk{ display:none; -webkit-box-sizing:border-box;width:100%;height: auto; background-color: rgba(0,0,0,0.5);position:absolute; bottom:0px; left:0;}
.mesk .box{width:98%;color:#FFF;text-align:left; padding:10px; top:0px; padding-bottom:18px;padding-top:5px; text-align:justify;}


/*slider1點點設定*/
.centered-btns_nav { display:none;background: url("../ADVbox/ADVbtn.gif") no-repeat left top; left: 0px; top: 30%; width: 38px; height: 61px; text-indent: -9999px; overflow: hidden; text-decoration: none; margin-top: -30px; position: absolute; z-index: 3; opacity: 0.6; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.centered-btns_nav:active {	opacity: 1;top: 30%;}
.next.centered-btns_nav {background-position: right top; left: auto; right: 0px;top: 30%;}
.centered-btns_nav:focus {}
.centered-btns_tabs {text-align: center; margin-top: 10px;position:absolute; bottom:0px; z-index:20; left:0;right:0; padding-bottom:10px;/*小圓點位置*/}
.centered-btns_tabs li {margin-right: 5px; float: none; display: inline; _float: left;}
.centered-btns_tabs a {	background: rgba(255,255,255,0.2); border-radius: 15px; width: 10px; height: 10px; text-indent: -9999px; overflow: hidden; display: inline-block; box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3); -webkit-border-radius: 15px; -moz-border-radius: 15px; _display: block; -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3); -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);}
.centered-btns_here a {	/*background: rgba(0,117,194,0.9);*/ background:rgba(255,102,0,0.5)/*小圓點顏色*/}


/*slider2點點設定*/
.transparent-btns_nav {	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 48%; height: 91%; text-indent: -9999px; overflow: hidden; display: block; position: absolute; z-index: 3; opacity: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.next.transparent-btns_nav {left: auto; right: 0px;}
.transparent-btns_nav:focus {}
.transparent-btns_tabs {text-align: center; margin-top: 10px;position:absolute; bottom:0px; z-index:20; left:0;right:0; padding-bottom:10px;/*小圓點位置*/}
.transparent-btns_tabs li {	margin-right: 5px; float: none; display: inline; _float: left;}
.transparent-btns_tabs a {	background: rgba(0, 0, 0, 0.2); border-radius: 15px; width: 9px; height: 9px; text-indent: -9999px; overflow: hidden; display: inline-block; box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3); -webkit-border-radius: 15px; -moz-border-radius: 15px; _display: block; -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3); -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);}
.transparent-btns_here a {background: rgba(0, 0, 0, 0.8);}


/*slider3點點設定*/
.large-btns_nav {background: url("../ADVbox/ADVbtn.gif") no-repeat left 50% rgb(0, 0, 0); left: 0px; top: 0px; width: 38px; bottom: 0px; text-indent: -9999px; overflow: hidden; position: absolute; z-index: 3; opacity: 0.6; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.large-btns_nav:active {opacity: 1;}
.next.large-btns_nav {background-position: right 50%; left: auto; right: 0px;}
.large-btns_nav:focus {}
.large-btns_tabs {text-align: center; margin-top: 10px;position:absolute; bottom:0px; z-index:20; left:0;right:0; padding-bottom:10px;/*小圓點位置*/}
.large-btns_tabs li {margin-right: 5px; float: none; display: inline; _float: left;}
.large-btns_tabs a {background: rgba(0, 0, 0, 0.2); border-radius: 15px; width: 9px; height: 9px; text-indent: -9999px; overflow: hidden; display: inline-block; box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3); -webkit-border-radius: 15px; -moz-border-radius: 15px; _display: block; -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3); -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);}
.large-btns_here a {background: rgba(0, 0, 0, 0.8);}
/*==============================手機版型區==============================*/
/*@media screen and (max-width: 767px) {
.bannerbox {font: 14px/24px sans-serif; margin: 0px auto;text-align: center; color: rgb(51, 51, 51); max-width: 100%;max-height:400px; overflow:hidden ;font-size-adjust: none; font-stretch: normal; _width: 1280px; -webkit-font-smoothing: antialiased;position: relative;}
.rslides_container {width: 100%; margin-bottom: 0px; float: left; position: relative;text-indent: 0px;-webkit-box-sizing:border-box;}	
.centered-btns_nav {opacity: 0;}
/*.centered-btns_tabs ,.transparent-btns_tabs,.large-btns_tabs {text-align: center; margin-top: 0px;position:absolute; bottom:0px; z-index:20; left:0;right:0; padding-bottom:5px;}	
	}*/
/*==============================手機版型區==============================*/
@media screen and (max-width: 767px) {
.bannerbox { max-width: 100%;max-height: auto;height: 300px; }
.rslides img { width: 100%;max-width: 100%;height:auto;max-height: auto;}
.rslides_container {width: 100%; margin-bottom: 0px; float: left; position: relative;text-indent: 0px;-webkit-box-sizing:border-box;}	
.centered-btns_nav {opacity: 0;/*左右按鍵隱藏*/}
.centered-btns_tabs ,.transparent-btns_tabs,.large-btns_tabs {text-align: center; margin-top: 0px;position:absolute; bottom:0px; z-index:20; left:0;right:0; padding-bottom:5px;/*小圓點位置*/}	
	}
@media screen and (min-width: 768px)and (max-width: 1024px) {
.bannerbox { max-width: 100%;max-height: auto;height:auto; max-height: auto;}
.rslides img { width: 100%;max-width: 1366px;height:auto;max-height: auto;}
.rslides_container {width: 100%; margin-bottom: 0px; float: left; position: relative;text-indent: 0px;-webkit-box-sizing:border-box;}	
.centered-btns_nav {display: block;opacity: 0;/*左右按鍵隱藏*/}
.centered-btns_tabs ,.transparent-btns_tabs,.large-btns_tabs {text-align: center; margin-top: 0px;position:absolute; bottom:0px; z-index:20; left:0;right:0; padding-bottom:5px;/*小圓點位置*/}	
	}